@page "/items"
@rendermode InteractiveServer

<h1>Items</h1>

<ul>
@if (Items != null && Items.Any())
{
    foreach (var item in Items)
    {
        <li>
            @item.Name: @item.Description
            <button type="button" @onclick="() => DeleteItem(item.Id)">Delete</button>
        </li>
    }
}
else
{
    <li>No items found.</li>
}
</ul>

<div class="pagination-controls">
    <!-- Page Size Dropdown -->
    <label for="pageSize">Page Size: </label>
    <select id="pageSize" @onchange="OnPageSizeChanged" value="@PageSize">
        @foreach (var size in PageSizes)
        {
            <option value="@size">@size</option>
        }
    </select>
    <span>Page @CurrentPage / @TotalPages (Total: @TotalItems)</span>

    <!-- Previous Page Button -->
    <button @onclick="PreviousPage" disabled="@IsPreviousDisabled">Previous</button>

    <!-- Next Page Button -->
    <button @onclick="NextPage" disabled="@IsNextDisabled">Next</button>
</div>

<EditForm Model="ItemModel" OnValidSubmit="AddItem" FormName="AddItem">
    <DataAnnotationsValidator />
    <ValidationSummary />
    <div>
        <label>
            Name:
            <InputText @bind-Value="ItemModel!.Name" />
        </label>
    </div>
    <div>
        <label>
            Description:
            <InputTextArea @bind-Value="ItemModel!.Description" />
        </label>
    </div>
    <div>
        <button type="submit">Submit</button>
    </div>
</EditForm>